.leave{
    width: 250px;
    font-size:9pt !important;
}
.ui-datepicker { font-size:11pt;
                  width: 13em;
                  
                }
                .ui-datepicker-today{
                    background: #83C948 !important;
                } 


                